[submodule "customer"]
	path = customer
	url = https://github.com/akashgond3112/customer.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/akashgond3112/gateway.git
[submodule "products"]
	path = products
	url = https://github.com/akashgond3112/products.git
[submodule "shopping"]
	path = shopping
	url = https://github.com/akashgond3112/shopping.git
